@media (max-width: 550px) {
    .desktopOnly {
        display: none;
    }
    .menu_item_img_container img {
        width: 100%;
    }
    .addPreparat {
        float: left; 
        margin-right: 10px; 
        margin-top: 15px;
    }
    .small-btn {
        padding: 2px!important;
        margin: 2px!important;
        float: left;
    }
}
@media (min-width: 551px) {
    .addPreparat {
        float: right; 
        margin-right: 10px; 
        margin-top: 15px;
    }
}
body {
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    margin: 20px;
}
h1 {
    margin: 10px;
}
.menu_item_container {
    width: 25%;
    float: left;
}
.menu_item {        
    border: 1px solid #EFEFEF;
    border-radius: 3px;
}
.menu_item_img_container {
    text-align: left;
}
.menu_item img {        
    max-width: 90%;
}
.menu_item_nume {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
}
.menu_item_pret {
    font-size: x-large;
    float: left;
}
.menu_item_detalii {
    float: right;
}
.btn-contact{
    border-radius: 3px;
    background:#6796f9;
    border: 1px solid #6796f9;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.btn {
    border-radius: 3px;
    background: #e34262;
    border: 1px solid #e34262;
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btn-blue{
    border-radius: 3px;
    background:#6796f9;
    border: 1px solid #6796f9;
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btn-cauta{
    border-radius: 3px;
    background:    #bba7db;    
    border: 1px solid #bba7db;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.accent {
    border: none;
    color: white;
    background-color: #33C3F0;
}
.clr {
    clear: both;
}
table {
    width: 100%;
}
tr{
    padding: 20px !important;
    margin: 20px !important;
}
td {
    padding: .2em;
}
.left-td{
    width: 20%;
}
.center-td{
    width: 50%;
}
.right-td{
    width: 30%;
}
#map {
    height: 500px;
}
.main{
    width: 80%;
    background:#baf4ed;
    border-radius: 3px;
    margin: auto;
    padding: 40px;
}
#menu{
    margin-top: 20px;
}
.menuInput {
    padding: 10px;
    width:30%;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
menuInput:focus, menuInput.focus {
    border-bottom: solid 2px #969696;
}
.space{
    margin-top: 20px;
}
  
.loading {
    height: 100px;
}
.hidden {
    display: none;
}
.tabel_input_reteta .menuInput {
    width: 100%;
}
a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
} 
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
} 
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
    cursor: pointer;
} 
a:active  {
    /* Applies to activated links */
    text-decoration:  none;
} 
