body {
    background-color: #FFF8E1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
.content {
    width: 70%;
    margin: auto;
}
.box {
    background-color: #FFCA28;
    border-radius: 5px;
    padding: 20px;    
    margin: 10px;
}
input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.btn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
#input_wrapper {
    text-align: center;
}
table {
    width: 100%;
}
table td {
    text-align: center;
}
#lista_wrapper {
    display: none;
}