#form_wrapper {
    padding: 20px;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
}
#vremea_wrapper {
    padding: 20px;
    background: white;    
    border-radius: 5px;
    margin-top: 20px;
}
.content-vremea{
    width: 100%;
}
.clear{
    clear: both;
}
#vremea {
    float: left;
    width: 30%;
    margin-top: 20px;
}
#map {
    float: right;
}
#prognoza_wrapper {
    width: -webkit-fill-available;
    padding: 20px;
    float: left;
    margin-top: 20px;
    background: white;    
    border-radius: 5px;
}
#prognoza{
    display: inline-flex;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}

li img{
    margin-top: 20px; 
}

#prognoza_wrapper div {
    /*float: left;*/
    text-align: center;
}
 
.div-day{
    margin-top: 20px;
}
.div-day span {
        background: #BBDEFB;
        padding: 5px;
}
html{
    background: #e3f2fd;
    padding: 20px;
}

body {
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

input[type=text] {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
}

.button{
    border-radius: 5px;
    font-size: 15px;
    font-family: Georgia !important;        
}

.button-top{
    width: 15%;
    margin-left: 20px;
    padding: 8px;
    background: #1e88e5;
    color: white;
    border: 1px solid #1e88e5;
}

#map{
    width:70%;
    height:200px;
}