#form_wrapper {
    text-align: left;
}
#vremea_wrapper {
    float: left;
}
#vremea {
    float: left;
}
#map {
    float: right;
}
#prognoza_wrapper {
    float: left;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
#prognoza_wrapper div {
    float: right;
}

html{
    background: #e3f2fd;
    padding: 10px;
}

body {
    border-radius: 10px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.content{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

input[type=text] {
    width: 60%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button{
    border-radius: 5px;
    font-size: 15px;
    font-family: Georgia !important;        
}

.button-top{
    padding: 8px;
    background: #1e88e5;
    color: white;
    border: 1px solid #1e88e5;

}