@media (min-width: 550px) {
    body {
        font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #222;
        max-width: 80%;
        margin: auto;
    }
    .produs_container {
        width: 25%;
    }
    #idImgProductDetails {
        float: left;
    }
    #idProductDetails {
        float: left;
    }
    #chart_details_table {
        width: 80%;
        float: right;
    }
    #chart_checkout {
        width: 20%;
        float: right;
        text-align: right;
    }
} 
@media (max-width: 550px) {
    body {
        font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #222;
        max-width: 100%;
        margin: auto;
    }
    .produs_container {
        width: 100%;
    }    
    .desktopOnly {
        display: none;
    }
}
#details {
    text-align: center;
}
#details_container {
    display: inline-block;
    text-align: left;
    display: none;
}
#details_container input {
    width: 50px;
}
input {
    height: 30px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
textarea {
    height: 80px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
h1 {
    margin: 10px;
}
.box {        
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;    
}
.produs_img_container {
    text-align: center;
    height: 150px;
    vertical-align: middle;
}
.produs img {        
    max-height: 150px;
    max-width: 100%;    
}
.produs_nume {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 100;
    color: #222;
    letter-spacing: -.05rem;
}
.produs_pret {
    font-size: x-large;
}
.produs_detalii {
}
.btn {
    border-radius: 3px;
    background: white;
    border: 1px solid #EFEFEF;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 5px;
}
.btn:hover { 
    border-color: #888;
}
.btn:visited { 
    color: #000;    
}
.accent {
    border: none;
    color: white!important;
    background-color: #33C3F0;
}
.accent:hover {
    background-color: #1EAEDB;
    color: white;
}
.accent:focus {
    color: white;
}
.accent:visited {
    color: white;
}
.clr {
    clear: both;
}

a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    color: black;
} 
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    color: black;
} 
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
    color: black;
    cursor: pointer;
} 
a:active  {
    /* Applies to activated links */
    text-decoration:  none;
    color: black;
} 
.fleft {
    float: left;
}
.fright {
    float: right;
}
#btn_add_new_product {
    margin-top: 20px;
}
.td_admin_produs_img {
    margin: 0px!important;
    padding: 0px!important;
    text-align: center!important;
    vertical-align: middle!important;    
}
.td_admin_produs_img img {
    height: 30px;
}
.taRight {
    text-align: right;
}
#admin_add_new_product {
    display: none;
}
#admin_add_new_product input, textarea {
    width: 100%;
}
#table_add_new_product {
    width: 100%;
}
#table_add_new_product td {
    padding: 3px;
}
#details img {
    max-height: 300px;
    max-width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
#notification {
    background: #D9F6FF;
    background: rgba(81,81,81,.8);
    color: #fff;
    position: fixed;
    padding: 14px 0;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
    display: none;
}
.total {
    font-size: x-large;
}
.byedItem{ 
    color: #337ab7!important;
    margin-left: 20px;
    margin-right: 20px;
}
.cCantiate {
    text-align: center;
}
#products {
    text-align: center;
}
.loading {
    height: 100px;
}
#admin_products_list {
    text-align: center;
}
#tabelGestionareProduse {
    display: none;
    text-align: left;
}