.buyed td {
    text-decoration: line-through;
}

html{
    background: #D0BCFE !important;
    font-family: "Georgia", Georgia, Serif !important;
}

body{
    background: #FFFDFF !important;
    font-family: "Georgia", Georgia, Serif !important;    
    border-radius: 10px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.content{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.box{
    padding-top: 20px;
}

input[type=text] {
    width: 70%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button{
    border-radius: 5px;
    font-size: 15px;
    font-family: Georgia !important;        
}

.button-add{
    padding: 10px;
    background:#72FE95;
}

.button-sort{
    background:#E29BFD;
}

.button-delete{
    background:#FF9797;
}

table{
    width: 100%;
}

th {
    text-align: left !important;
}

td{
    width: 50%;
}